<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script></script>
	<title>Document</title>
</head>
<body>
	<div id="app">
		<input v-model="message" placeholder="edit me">
		<p>Message is: {{ message }}</p>

		<h3>テキストエリア</h3>
		<span>Multiline message2 is:</span>
		<p style="white-space: pre-line;">{{ message2 }}</p>
		<br>
		<textarea v-model="message2" placeholder="add multiple lines"></textarea>
		
		<h3>単体チェックボックス</h3>
		<br>
		<input type="checkbox" id="checkbox" v-model="checked">
		<label for="checkbox">{{ checked }}</label>

		<h3>複数チェックボックス</h3>
		<br>
		<input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
		<label for="jack">Jack</label>
		<input type="checkbox" id="john" value="John" v-model="checkedNames">
		<label for="john">John</label>
		<input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
		<label for="mike">Mike</label>
		<br>
		<span>Checked names: {{ checkedNames }}</span>


		<h3>ラジオボタン</h3>
		<input type="radio" id="one" value="One" v-model="picked">
		<label for="one">One</label>
		<br>
		<input type="radio" id="two" value="Two" v-model="picked">
		<label for="two">Two</label>
		<br>
		<span>Picked: {{ picked }}</span>

		<h3>セレクト</h3>
		<select v-model="selected">
			<option disabled value="">Please select one</option>
			<option>A</option>
			<option>B</option>
			<option>C</option>
		</select>
		<span>Selected: {{ selected }}</span>

		<h3>セレクト(v-for)</h3>
		<select v-model="selected">
			<option v-for="option in options" v-bind:value="option.value">
				{{ option.text }}
			</option>
		</select>
		<span>Selected: {{ selected }}</span>

	</div>
	<script src="./js/09_form_input_binding.js"></script>
</body>
</html>